<a href="https://colab.research.google.com/github/FelixBuk/tod-Colab/blob/main/02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
filesp = pd.read_csv(r'/content/sp500hst.txt', delimiter=',', names=["date", "ticker", "open", "high", "low", "close", "volume"])
print(filesp)

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
print(filesp.iloc[:, 2].mean())
print(filesp.iloc[:, 3].mean())
print(filesp.iloc[:, 4].mean())

42.59545765904678
43.102243387667855
42.05446366521448

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
filesp['date'] = pd.to_datetime(filesp['date'])
filesp['day_date'] = filesp['date'].dt.day
print(filesp)

                                date ticker   open     high     low  close  \
0      1970-01-01 00:00:00.020090821      A  25.60  25.6100  25.220  25.55
1      1970-01-01 00:00:00.020090824      A  25.64  25.7400  25.330  25.50
2      1970-01-01 00:00:00.020090825      A  25.50  25.7000  25.225  25.34
3      1970-01-01 00:00:00.020090826      A  25.32  25.6425  25.145  25.48
4      1970-01-01 00:00:00.020090827      A  25.50  25.5700  25.230  25.54
...                              ...    ...    ...      ...     ...    ...
122569 1970-01-01 00:00:00.020100813    ZMH  51.72  51.9000  51.380  51.44
122570 1970-01-01 00:00:00.020100816    ZMH  51.13  51.4700  50.600  51.00
122571 1970-01-01 00:00:00.020100817    ZMH  51.14  51.6000  50.890  51.21
122572 1970-01-01 00:00:00.020100819    ZMH  51.63  51.6300  50.170  50.22
122573 1970-01-01 00:00:00.020100820    ZMH  50.03  50.5500  49.480  49.82

        volume  day_date
0        34758         1
1        22247         1
2        30891         1
3        33334         1
4        70176         1
...        ...       ...
122569   14561         1
122570   13489         1
122571   20498         1
122572   18259         1
122573   17792         1

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для одинаковых значений тикеров.

In [ ]:
#print(filesp['open'].value_counts().rename(index=filesp['ticker']))
spsumma = filesp.groupby(['ticker'])['open'].transform('sum').rename(index=filesp['ticker'])
print(spsumma)

A       7407.54
A       7407.54
A       7407.54
A       7407.54
A       7407.54
         ...
ZMH    13774.14
ZMH    13774.14
ZMH    13774.14
ZMH    13774.14
ZMH    13774.14
Name: open, Length: 122574, dtype: float64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [ ]:
filesp = pd.read_csv(r'/content/sp500hst.txt', delimiter=',', names=["date", "ticker", "open", "high", "low", "close", "volume"])
filedata = pd.read_csv(r'/content/sp_data2.csv', delimiter=';', names = ['ticker', 'rashifr', 'percent'])
two_files = pd.merge(filesp, filedata, on = 'ticker', how='outer')
filesp['rashifrovka'] = two_files['rashifr'].fillna('No data')
print(filesp)

            date ticker   open     high     low  close  volume  \
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

                 rashifrovka
0       Agilent Technologies
1       Agilent Technologies
2       Agilent Technologies
3       Agilent Technologies
4       Agilent Technologies
...                      ...
122569               No data
122570               No data
122571               No data
122572               No data
122573               No data

[122574 rows x 8 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
import csv
import numpy as np
import pandas as pd
review = pd.read_csv(r'/content/reviews_sample.csv', delimiter=',')
recipe = pd.read_csv(r'/content/recipes_sample.csv', delimiter=',')
recipe['submitted'] = pd.to_datetime(recipe['submitted'])
print(review)
print(recipe)

        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]
                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
count_row_review = review.shape[0]
count_col_review = review.shape[1]
types_review = review.dtypes

count_row_recipe = recipe.shape[0]
count_col_recipe = recipe.shape[1]
types_recipe = recipe.dtypes

print(f'Количество точек данных (строк): {count_row_review}, количество столбцов: {count_col_review}')
print(types_review)

print(f'Количество точек данных (строк): {count_row_recipe}, количество столбцов: {count_col_recipe}')
print(types_recipe)

Количество точек данных (строк): 126696, количество столбцов: 6
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object
Количество точек данных (строк): 30000, количество столбцов: 8
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
for i1, i2 in zip(review.isnull(), review.isnull().sum()):
    if i2 != 0:
        print(i1)
for i1, i2 in zip(recipe.isnull(), recipe.isnull().sum()):
    if i2 != 0:
        print(i1)
print(review.isnull().sum().sum()/count_row_review)
print(recipe.isnull().sum().sum()/count_row_recipe)

review
n_steps
description
n_ingredients
0.00013417945317926376
0.6897666666666666

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
#print(review.mean(numeric_only='int64'))
#print(recipe.mean(numeric_only='int64'))
print(recipe.mean())
print(review.mean())

<ipython-input-5-8c089069f5a1>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(recipe.mean())

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64
Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

<ipython-input-5-8c089069f5a1>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(review.mean())

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
n1 = np.random.randint(0, count_row_recipe, 10)
print(recipe.name[n1])

4405     cajun pot roast with corn and tomatoes
2564              beautiful baked chicken kievs
9165                           date nut muffins
524                            almond joy latte
18870                     nut cake  gluten free
5236                       cheesy cheeseburgers
6802       chocolate ancho chile flourless cake
15206                    karen s macaroni salad
26527                            sushi sandwich
15760         lefse from norway to north dakota
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
review.index = pd.RangeIndex(0, count_row_review)
print(review)

        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
print(recipe[(recipe.minutes<=20) & (recipe.n_ingredients<=5)])

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipe['submitted'] = pd.to_datetime(recipe['submitted'])
print(recipe.dtypes)

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
print(recipe[recipe['submitted'].dt.year <= 2010])

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipe['description_lengt'] = recipe['description'].str.count(r'\s+')+1
print(recipe)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_lengt
0                   61.0
1                   46.0
2                    8.0
3                   30.0
4                  113.0
...                  ...
29995               87.0
29996               50.0
29997               59.0
29998              119.0
29999               22.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipe['name'] = recipe['name'].str.title()
print(recipe)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
import re
recipe['name_word_count'] = recipe['name'].str.count(r'\s+')+1
print(recipe)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       name_word_count
0                    8
1                    5
2                    7
3                    3
4                    8
...                ...
29995                8
29996                4
29997                5
29998                2
29999                7

[30000 rows x 9 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
contr = review['user_id'].value_counts().to_frame()
review['contributor_id'] = review.groupby(['user_id'])['user_id'].transform('count')
print(review)
print(review[review['contributor_id'] == review['contributor_id'].max()]['user_id'].values[0])

        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review  contributor_id
0       Last week whole sides of frozen salmon fillet ...             103
1       So simple and so tasty!  I used a yellow capsi...              73
2       Very nice breakfast HH, easy to make and yummy...             157
3       These are a favorite for the holidays and so e...               1
4       Excellent soup!  The tomato flavor is just gre...              14
...                                                   ...             ...
126691  This recipe was great! I made it last night. I...               1
126692  This recipe is outstanding. I followed the rec...               1
126693  Well, we were not a crowd but it was a fabulou...              10
126694  I have been a steak eater and dedicated BBQ gr...               1
126695  Wonderful and simple to prepare seasoning blen...              58

[126696 rows x 7 columns]
424680

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
review['sred_rate'] = review.groupby(['recipe_id'])['rating'].transform('mean')
print(review)
print(review[(review['review'].isnull()) & (review['rating'] == 0)])

        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review  sred_rate
0       Last week whole sides of frozen salmon fillet ...   4.818182
1       So simple and so tasty!  I used a yellow capsi...   4.583333
2       Very nice breakfast HH, easy to make and yummy...   4.000000
3       These are a favorite for the holidays and so e...   3.727273
4       Excellent soup!  The tomato flavor is just gre...   5.000000
...                                                   ...        ...
126691  This recipe was great! I made it last night. I...   3.833333
126692  This recipe is outstanding. I followed the rec...   4.537275
126693  Well, we were not a crowd but it was a fabulou...   5.000000
126694  I have been a steak eater and dedicated BBQ gr...   3.705882
126695  Wonderful and simple to prepare seasoning blen...   2.500000

[126696 rows x 7 columns]
Empty DataFrame
Columns: [Unnamed: 0, user_id, recipe_id, date, rating, review, sred_rate]
Index: []

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipe['submitted'] = pd.to_datetime(recipe['submitted'])
recipe['year'] = recipe['submitted'].dt.year
print(recipe['year'].value_counts().to_frame())

      year
2007  4429
2008  4029
2006  3473
2005  3130
2009  2963
2002  2644
2003  2334
2004  2153
2010  1538
2011   922
2012   659
2001   589
2013   490
1999   275
2014   139
2000   104
2015    42
2017    39
2016    24
2018    24

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
review.rename(columns = {'recipe_id':'id'}, inplace = True)
recrev1 = pd.merge(recipe, review, on='id', how='outer')
nocomm = recrev1[(recrev1['review'].isnull())]
recrev1 = recrev1[(recrev1['review'].isnull())==False]
recrev = recrev1[['id', 'name', 'user_id', 'rating']]
print(recrev)

n1 = np.random.choice(list(nocomm.index))
print(f'Рандомный индекс: {n1}', nocomm.loc[n1], sep = '\n')

            id                                    name    user_id  rating
0        44123   george s at the cove  black bean soup   743566.0     5.0
1        44123   george s at the cove  black bean soup    76503.0     5.0
2        44123   george s at the cove  black bean soup    34206.0     5.0
3        67664      healthy for them  yogurt popsicles   494084.0     5.0
4        67664      healthy for them  yogurt popsicles   303445.0     5.0
...        ...                                     ...        ...     ...
128591  486161                             zydeco soup   305531.0     5.0
128592  486161                             zydeco soup  1271506.0     5.0
128593  486161                             zydeco soup   724631.0     5.0
128594  486161                             zydeco soup   133174.0     5.0
128595  298512  cookies by design   cookies on a stick   804234.0     1.0

[126679 rows x 4 columns]
Рандомный индекс: 17707
name                            breyers ice cream cherry cheesecake
id                                                           368022
minutes                                                          20
contributor_id                                                57042
submitted                                       2009-04-26 00:00:00
n_steps                                                         NaN
description       i found this recipe in family circle magazine....
n_ingredients                                                   NaN
Unnamed: 0                                                      NaN
user_id                                                         NaN
date                                                            NaN
rating                                                          NaN
review                                                          NaN
Name: 17707, dtype: object

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
kol = review.groupby('recipe_id')['review'].count()
recrev1 = pd.merge(recipe, kol, left_on = 'id', right_on = 'recipe_id', how='outer')
recrev1 = recrev1.rename(columns = {'id':'recipe_id', 'review':'review_count'}).fillna(0)
print(recrev1)
print(recrev1[(recrev1['review_count'] == 0.0)])

                                               name  recipe_id  minutes  \
0             george s at the cove  black bean soup      44123       90
1                healthy for them  yogurt popsicles      67664       10
2                      i can t believe it s spinach      38798       30
3                              italian  gut busters      35173       45
4          love is in the air  beef fondue   sauces      84797       25
...                                             ...        ...      ...
29995  zurie s holey rustic olive and cheddar bread     267661       80
29996          zwetschgenkuchen  bavarian plum cake     386977      240
29997   zwiebelkuchen   southwest german onion cake     103312       75
29998                                   zydeco soup     486161       60
29999        cookies by design   cookies on a stick     298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      0.0
1               91970 2003-07-26      0.0
2                1533 2002-08-29      0.0
3               22724 2002-07-27      0.0
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      0.0
29997          161745 2004-11-03      0.0
29998          227978 2012-08-29      0.0
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            0.0
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            0.0
4      i think a fondue is a very romantic casual din...            0.0
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            0.0
29998  this is a delicious soup that i originally fou...            0.0
29999  i've heard of the 'cookies by design' company,...           10.0

       review_count
0               3.0
1               8.0
2               3.0
3               1.0
4               8.0
...             ...
29995           4.0
29996           2.0
29997           6.0
29998           6.0
29999           1.0

[30000 rows x 9 columns]
                                          name  recipe_id  minutes  \
26               pasta  with shrimp   eggplant     223349       50
29             secret ingredient  bbq meatloaf     342620       75
35           windy s  sweet and sour meatballs     276594       50
49     goulashy  beef stew for the slow cooker     216068      430
59                old bay  grilled steak fries     306590       20
...                                        ...        ...      ...
29871                       zingy potato salad      66966       45
29903       zucchini  mock green papaya  salad     249846       15
29905            zucchini and corn with cheese     256177       15
29951                       zucchini nut salad     178243       30
29979     zucchini with bell pepper and tomato     363362       13

       contributor_id  submitted  n_steps  \
26             452592 2007-04-18      7.0
29              50969 2008-12-09      9.0
35             341338 2008-01-05      6.0
49             446143 2007-03-10      0.0
59             337736 2008-05-31      0.0
...               ...        ...      ...
29871           76596 2003-07-16      9.0
29903           47541 2007-08-30      0.0
29905          305531 2007-09-29      4.0
29951          281399 2006-07-18      0.0
29979          344321 2009-03-29     19.0

                                             description  n_ingredients  \
26     a nice low carb way to feel like you are eatin...            9.0
29     i know what you might be thinking,'ho hum, ano...           10.0
35     whenever we had a potluck lunch at the office ...           14.0
49     noodle beef stew in the slow cooker...easy com...           13.0
59     found this in a magazine, yet to try, but look...           15.0
...                                                  ...            ...
29871                                                  0           12.0
29903  always searching for a new way to use zucchini...            0.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29951  a summertime favorite of ours and a good way t...            6.0
29979  the weather has been turning warmer and i have...            8.0

       review_count
26              0.0
29              0.0
35              0.0
49              0.0
59              0.0
...             ...
29871           0.0
29903           0.0
29905           0.0
29951           0.0
29979           0.0

[1900 rows x 9 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
review.rename(columns = {'recipe_id':'id'}, inplace = True)
recrev1 = pd.merge(recipe, review, on='id', how='outer')
recrev1['submitted'] = pd.to_datetime(recrev1['submitted'])
recrev1['year'] = recrev1['submitted'].dt.year
recrev1['sred_rate'] = recrev1.groupby(['id'])['rating'].transform('mean')
print(recrev1[recrev1['sred_rate'] == recrev1['sred_rate'].min()]['year'].value_counts().idxmax())

2009

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
import re
recipe['description_lengt'] = recipe['description'].str.count(r'\s+')+1
recipe['name'] = recipe['name'].str.title()
recipe['name_word_count'] = recipe['name'].str.count(r'\s+')+1
recipe = recipe.sort_values('name_word_count', ascending=False)
print(recipe)
recipe.to_csv('recipes1', mode = 'a')

                                                    name      id  minutes  \
26223  Subru Uncle S Whole Green Moong Dal I Ll Be Ma...   77188       95
28083  Tsr Version Of T G I  Friday S Black Bean Soup...  102274       75
26222  Subru Uncle S Toor Ki Dal Sindhi Style  Dad  M...   76908       65
27876  Top Secret Recipes Version Of  I H O P  Griddl...  113346       20
5734   Chicken Curry Or  Cat S Vomit On A Bed Of Magg...  294898       30
...                                                  ...     ...      ...
3253                                          Blackmoons  323195      430
4138                                         Bushwhacker  156521       10
2357                                            Basbousa   12957       60
15052                                          Josefinas  264859       20
4710                                            Caramels  143615       30

       contributor_id  submitted  n_steps  \
26223            6357 2003-11-21      NaN
28083           74652 2004-10-19      9.0
26222            6357 2003-11-18     29.0
27876          175727 2005-03-14      5.0
5734           802799 2008-03-28     11.0
...               ...        ...      ...
3253           415934 2008-09-04      5.0
4138           177392 2006-02-17      1.0
2357            18391 2001-10-20      NaN
15052          498271 2007-11-11      7.0
4710           212088 2005-11-02      NaN

                                             description  n_ingredients  \
26223  my dad and mom quite enjoy this lentil curry. ...           15.0
28083  from www.topsecretrecipes.com i got this copyc...           16.0
26222  this is the lentil curry that subru uncle(our ...           15.0
27876  this recipe is top secret recipes version of i...            9.0
5734   an old family recipe that's easy to make since...           12.0
...                                                  ...            ...
3253   my mom was a newlywed in the 1950s when she fo...            NaN
4138   this drink is an excellent after dinner drink ...            6.0
2357   this is a traditional middle eastern dessert. ...            NaN
15052  from the junior league of corpus christi tx, t...            NaN
4710   i've been making these at christmas time for y...            6.0

       description_lengt  name_word_count
26223               63.0               15
28083               85.0               14
26222              212.0               14
27876               21.0               14
5734                28.0               13
...                  ...              ...
3253                73.0                1
4138                22.0                1
2357                12.0                1
15052               16.0                1
4710                63.0                1

[30000 rows x 10 columns]

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
kol = review.groupby('recipe_id')['review'].count()
review.rename(columns = {'recipe_id':'id'}, inplace = True)
recrev1 = pd.merge(recipe, review, on='id', how='outer')
nocomm = recrev1[(recrev1['review'].isnull())]
recrev1 = recrev1[(recrev1['review'].isnull())==False]
recrev1 = recrev1[['id', 'name', 'user_id', 'rating']]


recrev2 = pd.merge(recrev1, kol, left_on = 'id', right_on = 'recipe_id', how='outer')
recrev2 = recrev2.rename(columns = {'id':'recipe_id', 'review':'review_count'}).fillna(0)

with pd.ExcelWriter('recrev.xlsx') as writer:
    recrev1.to_excel(writer, sheet_name='Рецепты с оценками')
    recrev2.to_excel(writer, sheet_name='Количество отзывов по рецептам')

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3